In [1]:
pip install plotly pip install cufflinks

Requirement already satisfied: plotly in c:\users\user\appdata\roaming\python\python38\site-packages (4.14.3)
Requirement already satisfied: pip in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (21.1.2)
Requirement already satisfied: install in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (1.3.4)
Requirement already satisfied: cufflinks in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (0.17.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\user\appdata\roaming\python\python38\site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from plotly) (1.16.0)
Requirement already satisfied: numpy>=1.9.2 in c:\users\user\appdata\roaming\python\python38\site-packages (from cufflinks) (1.20.3)
Requirement already satisfied: pandas>=0.19.2 in c:\users\user\appdata\roaming\python\python38\site-packages (from cufflinks) (1.2.4)
Requirement already satisfied: colorlover>=0.2.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from cufflinks) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from cufflinks) (49.2.1)
Requirement already satisfied: ipython>=5.3.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from cufflinks) (7.24.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from cufflinks) (7.6.3)
Requirement already satisfied: decorator in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.0.9)
Requirement already satisfied: pickleshare in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.0.5)
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.18.0)
Requirement already satisfied: backcall in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (3.0.18)
Requirement already satisfied: pygments in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipython>=5.3.0->cufflinks) (2.9.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (5.5.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (3.5.1)
Requirement already satisfied: tornado>=4.2 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1)
Requirement already satisfied: jupyter-client in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (4.7.1)
Requirement already satisfied: ipython-genutils in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (0.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (0.17.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.19.2->cufflinks) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\appdata\roaming\python\python38\site-packages (from pandas>=0.19.2->cufflinks) (2021.1)
Requirement already satisfied: wcwidth in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->cufflinks) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.4.0)
Requirement already satisfied: jinja2 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.0.1)
Requirement already satisfied: argon2-cffi in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (20.1.0)
Requirement already satisfied: pyzmq>=17 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (22.1.0)
Requirement already satisfied: nbconvert in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.0.7)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.10.0)
Requirement already satisfied: prometheus-client in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.10.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (301)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.1.1)
Requirement already satisfied: cffi>=1.0.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.14.5)
Requirement already satisfied: pycparser in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.20)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.0.1)
Requirement already satisfied: defusedxml in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: testpath in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.0)
Requirement already satisfied: bleach in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.3.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.4.3)
Requirement already satisfied: jupyterlab-pygments in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.3)
Requirement already satisfied: nest-asyncio in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.5.1)
Requirement already satisfied: async-generator in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.10)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Requirement already satisfied: packaging in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import cufflinks as cf
import seaborn as sns
import plotly.express as px
%matplotlib inline

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()

# JNT

In [26]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
jntOne = pd.read_table('articles-wordcount\jnt-output-1.txt', delimiter = ":", header=None)
jntOne.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfOne = pd.DataFrame(jntOne)

# change column data type from string to int
jntOne['Count'] = pd.to_numeric(dfOne['Count'])

# sort Count - descending order
jntOne.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
jntOne.dropna()

                                                  Word  Count
0                                                  the     29
42                                                  to     10
16                                                   a     10
10                                                  of      7
17                                             courier      7
..                                                 ...    ...
65                                          officially      1
1                                            malaysian      1
24                                              filled      1
62                                            company,      1
127  if:1\nthere:1\nloss:1\nitems,:1\ncontact:1\npr...      1

[127 rows x 2 columns]

In [27]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
jntTwo = pd.read_table('articles-wordcount\jnt-output-2.txt', delimiter = ":", header=None)
jntTwo.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfTwo = pd.DataFrame(jntTwo)

# change column data type from string to int
jntTwo['Count'] = pd.to_numeric(dfTwo['Count'])

# sort Count - descending order
jntTwo.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
jntTwo.dropna()

            Word  Count
1            the     12
32            to     10
45             a      9
52            as      5
24            of      5
..           ...    ...
81         boxes      1
82        goods.      1
83        stated      1
84        video,      1
193  malaysians?      1

[193 rows x 2 columns]

In [28]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
jntThree = pd.read_table('articles-wordcount\jnt-output-3.txt', delimiter = ":", header=None)
jntThree.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfThree = pd.DataFrame(jntThree)

# change column data type from string to int
jntThree['Count'] = pd.to_numeric(dfThree['Count'])

# sort Count - descending order
jntThree.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
jntThree.dropna()

           Word  Count
22           to     41
0           the     38
2           and     34
54          j&t     23
12           in     21
..          ...    ...
188    service.      1
184       serve      1
180   streaming      1
179  broadcasts      1
453  shipping!�      1

[453 rows x 2 columns]

In [6]:
import plotly.express as px 
import pandas as pd 
import numpy as np

#JNT WORD COUNT FOR ARCTICLE 1
px.histogram(jntOne.iloc[0:14], x='Word', y='Count', labels={'x': 'Word', 'y': 'Count'}, title='JNT Word Count - MCMC Issues Warning To J&T Express Over Video Showing Staff Mishandling Parcel')

In [7]:
#JNT WORD COUNT FOR ARCTICLE 2
px.histogram(jntTwo.iloc[0:14], x='Word', y='Count', labels={'x': 'Word', 'y': 'Count'}, title='JNT Word Count - J&T Express Experience Decline In Ordered Items Following Bad Publicity')

In [8]:
#JNT WORD COUNT FOR ARCTICLE 3
px.histogram(jntTwo.iloc[0:14], x='Word', y='Count', labels={'x': 'Word', 'y': 'Count'}, title='JNT Word Count - J&T Express anticipates promising 11.11 big sale')

In [73]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

jntOT = pd.merge(jntOne.dropna(), jntTwo.dropna(), on='Word', how= 'outer')

jnt = pd.merge(jntOT, jntThree.dropna(), on= 'Word', how='outer')

#rename the column
jnt.rename(columns = {'Count_x':'jnt-article-1', 'Count_y':'jnt-article-2',
                              'Count':'jnt-article-3'}, inplace = True)



fig = px.bar(jnt.iloc[0:16], x='Word', y=["jnt-article-1", "jnt-article-2", "jnt-article-3"], title='JNT Word Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\jnt-wordcount-JOIN.html", auto_open=True)

ref: 
https://stackoverflow.com/questions/53645882/pandas-merging-101/53645883#53645883
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

To print to HTML

In [10]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
jntSW1 = pd.read_table('articles-stopwords\jnt-stopwords-1.txt', delimiter = ":", header=None)
jntSW1.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW1 = pd.DataFrame(jntSW1)

# change column data type from string to int
jntSW1['Count'] = pd.to_numeric(dfSW1['Count'])

# sort Count - descending order
jntSW1.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
jntSW1.dropna()

                                                 Word  Count
9                                             courier      7
72                                             rights      3
73                                          consumers      3
23                                               body      3
22                                         regulatory      3
..                                                ...    ...
36                                           company.      1
35                                          incident,      1
34                                         addressing      1
33                                         statement,      1
89  if:1\r\nloss:1\r\nitems,:1\r\ncontact:1\r\npro...      1

[89 rows x 2 columns]

In [11]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
jntSW2 = pd.read_table('articles-stopwords\jnt-stopwords-2.txt', delimiter = ":", header=None)
jntSW2.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW2 = pd.DataFrame(jntSW2)

# change column data type from string to int
jntSW2['Count'] = pd.to_numeric(dfSW2['Count'])

# sort Count - descending order
jntSW2.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
jntSW2.dropna()

            Word  Count
4       delivery      4
6            j&t      4
1         issues      3
66          left      2
54       parcels      2
..           ...    ...
38        posted      1
37         clip,      1
36        tiktok      1
35      apparent      1
119  malaysians?      1

[119 rows x 2 columns]

In [12]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
jntSW3 = pd.read_table('articles-stopwords\jnt-stopwords-3.txt', delimiter = ":", header=None)
jntSW3.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW3 = pd.DataFrame(jntSW3)

# change column data type from string to int
jntSW3['Count'] = pd.to_numeric(dfSW3['Count'])

# sort Count - descending order
jntSW3.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
jntSW3.dropna()

           Word  Count
30          j&t     23
31      express     19
86        11.11      8
61   e-commerce      7
1     logistics      5
..          ...    ...
137    service.      1
133       serve      1
129   streaming      1
128  broadcasts      1
356  shipping!�      1

[356 rows x 2 columns]

In [74]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

jntSWOT = pd.merge(jntSW1.dropna(), jntSW2.dropna(), on='Word', how= 'outer')

jntSW = pd.merge(jntSWOT, jntSW3.dropna(), on= 'Word', how= 'outer')

#rename the column
jntSW.rename(columns = {'Count_x':'jnt-article-1', 'Count_y':'jnt-article-2',
                              'Count':'jnt-article-3'}, inplace = True)



fig = px.bar(jntSW.iloc[0:16], x='Word', y=["jnt-article-1", "jnt-article-2", "jnt-article-3"], title='JNT Stopwords Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\jnt-stopwords-JOIN.html", auto_open=True)

# CITYLINK

In [36]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
clOne = pd.read_table('articles-wordcount\citylink-output-1.txt', delimiter = ":", header=None)
clOne.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfOne = pd.DataFrame(clOne)

# change column data type from string to int
clOne['Count'] = pd.to_numeric(dfOne['Count'])

# sort Count - descending order
clOne.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
clOne.dropna()

             Word  Count
18            the     13
0       city-link     12
27             to     10
30             of      9
23             in      9
..            ...    ...
88   mobilisation      1
89        various      1
90        centres      1
91    nationwide,      1
193      driving.      1

[193 rows x 2 columns]

In [37]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
clTwo = pd.read_table('articles-wordcount\citylink-output-2.txt', delimiter = ":", header=None)
clTwo.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfTwo = pd.DataFrame(clTwo)

# change column data type from string to int
clTwo['Count'] = pd.to_numeric(dfTwo['Count'])

# sort Count - descending order
clTwo.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
clTwo.dropna()

            Word  Count
20           the     26
33            to     16
46           its     12
59            in     11
17             a     10
..           ...    ...
126  shortlisted      1
127          few      1
129      initial      1
130       public      1
272      system.      1

[272 rows x 2 columns]

In [38]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
clThree = pd.read_table('articles-wordcount\citylink-output-3.txt', delimiter = ":", header=None)
clThree.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfThree = pd.DataFrame(clThree)

# change column data type from string to int
clThree['Count'] = pd.to_numeric(dfThree['Count'])

# sort Count - descending order
clThree.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
clThree.dropna()

          Word  Count
34         the     20
45         and     16
6           of     16
13   city-link      9
12          to      8
..         ...    ...
92          as      1
93        part      1
94   expansion      1
95     growth.      1
217   driving.      1

[217 rows x 2 columns]

In [75]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

clOT = pd.merge(clOne.dropna(), clTwo.dropna(), on='Word', how= 'outer')

cl = pd.merge(clOT, clThree.dropna(), on= 'Word', how= 'outer')

#rename the column
cl.rename(columns = {'Count_x':'citylink-article-1', 'Count_y':'citylink-article-2',
                              'Count':'citylink-article-3'}, inplace = True)



fig = px.bar(cl.iloc[0:16], x='Word', y=["citylink-article-1", "citylink-article-2", "citylink-article-3"], title='CityLink Word Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\cl-wordcount-JOIN.html", auto_open=True )

In [41]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
clSW1 = pd.read_table('articles-stopwords\citylink-stopwords-1.txt', delimiter = ":", header=None)
clSW1.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW1 = pd.DataFrame(clSW1)

# change column data type from string to int
clSW1['Count'] = pd.to_numeric(dfSW1['Count'])

# sort Count - descending order
clSW1.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
clSW1.dropna()

          Word  Count
0    city-link     12
7        isuzu      8
1      express      6
39    express�      5
35    business      3
..         ...    ...
56   achieving      1
55    continue      1
53   services,      1
52     improve      1
145   driving.      1

[145 rows x 2 columns]

In [43]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
clSW2 = pd.read_table('articles-stopwords\citylink-stopwords-2.txt', delimiter = ":", header=None)
clSW2.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW2 = pd.DataFrame(clSW2)

# change column data type from string to int
clSW2['Count'] = pd.to_numeric(dfSW2['Count'])

# sort Count - descending order
clSW2.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
clSW2.dropna()

            Word  Count
64           tan      4
11        market      4
9        listing      3
46      domestic      3
20       company      3
..           ...    ...
79   shortlisted      1
80       initial      1
81        public      1
82     offering.      1
196      system.      1

[196 rows x 2 columns]

In [44]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
clSW3 = pd.read_table('articles-stopwords\citylink-stopwords-3.txt', delimiter = ":", header=None)
clSW3.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW3 = pd.DataFrame(clSW3)

# change column data type from string to int
clSW3['Count'] = pd.to_numeric(dfSW3['Count'])

# sort Count - descending order
clSW3.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
clSW3.dropna()

           Word  Count
8     city-link      9
0         isuzu      6
16     express�      4
1      malaysia      4
5         units      4
..          ...    ...
64    container      1
65     targeted      1
67     distance      1
68   deliveries      1
166    driving.      1

[166 rows x 2 columns]

In [76]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

clSWOT = pd.merge(clSW1.dropna(), clSW2.dropna(), on='Word', how= 'outer')

clSW = pd.merge(clSWOT, clSW3.dropna(), on= 'Word', how= 'outer')

#rename the column
clSW.rename(columns = {'Count_x':'citylink-article-1', 'Count_y':'citylink-article-2',
                              'Count':'citylink-article-3'}, inplace = True)



fig = px.bar(clSW.iloc[0:16], x='Word', y=["citylink-article-1", "citylink-article-2", "citylink-article-3"], title='CityLink Stopwords Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\cl-stopwords-JOIN.html", auto_open=True )

# DHL

In [50]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
dhlOne = pd.read_table('articles-wordcount\dhl-output-1.txt', delimiter = ":", header=None)
dhlOne.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfOne = pd.DataFrame(dhlOne)

# change column data type from string to int
dhlOne['Count'] = pd.to_numeric(dfOne['Count'])

# sort Count - descending order
dhlOne.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
dhlOne = dhlOne.dropna()

dhlOne

              Word  Count
3              the     63
54              in     39
90              to     38
6               of     36
97             and     35
..             ...    ...
269       collapse      1
268  unprecedented      1
265         points      1
264          2020,      1
639     wednesday.      1

[639 rows x 2 columns]

In [51]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
dhlTwo = pd.read_table('articles-wordcount\dhl-output-2.txt', delimiter = ":", header=None)
dhlTwo.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfTwo = pd.DataFrame(dhlTwo)

# change column data type from string to int
dhlTwo['Count'] = pd.to_numeric(dfTwo['Count'])

# sort Count - descending order
dhlTwo.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
dhlTwo = dhlTwo.dropna()

dhlTwo

              Word  Count
8              the     61
39              in     39
76              to     38
83             and     35
7               of     35
..             ...    ...
265  unprecedented      1
262         points      1
261          2020,      1
260          index      1
636     wednesday.      1

[636 rows x 2 columns]

In [52]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
dhlThree = pd.read_table('articles-wordcount\dhl-output-3.txt', delimiter = ":", header=None)
dhlThree.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfThree = pd.DataFrame(dhlThree)

# change column data type from string to int
dhlThree['Count'] = pd.to_numeric(dfThree['Count'])

# sort Count - descending order
dhlThree.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
dhlThree = dhlThree.dropna()

dhlThree

                Word  Count
13               and     26
4                the     23
16                in     19
6                 of     17
1                 to     14
..               ...    ...
138       commitment      1
139  transformation,      1
141             take      1
142           active      1
319           boats.      1

[319 rows x 2 columns]

In [77]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

dhlOT = pd.merge(dhlOne, dhlTwo, on='Word', how= 'outer')

dhl = pd.merge(dhlOT, dhlThree, on= 'Word', how= 'outer')

#rename the column
dhl.rename(columns = {'Count_x':'dhl-article-1', 'Count_y':'dhl-article-2',
                              'Count':'dhl-article-3'}, inplace = True)



fig = px.bar(dhl.iloc[0:16], x='Word', y=["dhl-article-1", "dhl-article-2", "dhl-article-3"], title='DHL Word Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\dhl-wordcount-JOIN.html", auto_open=True )

In [57]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
dhlSW1 = pd.read_table('articles-stopwords\dhl-stopwords-1.txt', delimiter = ":", header=None)
dhlSW1.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW1 = pd.DataFrame(dhlSW1)

# change column data type from string to int
dhlSW1['Count'] = pd.to_numeric(dfSW1['Count'])

# sort Count - descending order
dhlSW1.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
dhlSW1 = dhlSW1.dropna()

dhlSW1

              Word  Count
1          express     11
0              dhl     10
34      e-commerce      7
43         pearson      7
156         global      7
..             ...    ...
200       collapse      1
199  unprecedented      1
198         points      1
197          2020,      1
505     wednesday.      1

[505 rows x 2 columns]

In [58]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
dhlSW2 = pd.read_table('articles-stopwords\dhl-stopwords-2.txt', delimiter = ":", header=None)
dhlSW2.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW2 = pd.DataFrame(dhlSW2)

# change column data type from string to int
dhlSW2['Count'] = pd.to_numeric(dfSW2['Count'])

# sort Count - descending order
dhlSW2.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
dhlSW2 = dhlSW2.dropna()

dhlSW2

              Word  Count
28         express      9
5              dhl      9
31         pearson      7
21      e-commerce      7
153         global      7
..             ...    ...
196  unprecedented      1
195         points      1
194          2020,      1
192         citing      1
502     wednesday.      1

[502 rows x 2 columns]

In [60]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
dhlSW3 = pd.read_table('articles-stopwords\dhl-stopwords-3.txt', delimiter = ":", header=None)
dhlSW3.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW3 = pd.DataFrame(dhlSW3)

# change column data type from string to int
dhlSW3['Count'] = pd.to_numeric(dfSW3['Count'])

# sort Count - descending order
dhlSW3.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
dhlSW3 = dhlSW3.dropna()

dhlSW3

           Word  Count
12        drone      8
10     malaysia      5
36     aerodyne      4
37        group      4
13   technology      4
..          ...    ...
103        neo,      1
104    managing      1
105    director      1
107     brunei.      1
257      boats.      1

[257 rows x 2 columns]

In [78]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

dhlSWOT = pd.merge(dhlSW1, dhlSW2, on='Word', how= 'outer')

dhlSW = pd.merge(dhlSWOT, dhlSW3, on= 'Word', how= 'outer')

#rename the column
dhlSW.rename(columns = {'Count_x':'dhl-article-1', 'Count_y':'dhl-article-2',
                              'Count':'dhl-article-3'}, inplace = True)



fig = px.bar(dhlSW.iloc[0:16], x='Word', y=["dhl-article-1", "dhl-article-2", "dhl-article-3"], title='DHL Stopwords (OUTER JOIN)')

fig.write_html("templates\courier\plot\dhl-stopwords-JOIN.html", auto_open=True )

# Poslaju

In [63]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
plOne = pd.read_table('articles-wordcount\poslaju-output-1.txt', delimiter = ":", header=None)
plOne.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfOne = pd.DataFrame(plOne)

# change column data type from string to int
plOne['Count'] = pd.to_numeric(dfOne['Count'])

# sort Count - descending order
plOne.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
plOne = plOne.dropna()

plOne

                  Word  Count
23                 the     58
33                  to     46
29                 and     33
3                    a     31
25                  of     22
..                 ...    ...
241              chief      1
240            company      1
239  government-linked      1
238             former      1
578               37).      1

[578 rows x 2 columns]

In [64]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
plTwo = pd.read_table('articles-wordcount\poslaju-output-2.txt', delimiter = ":", header=None)
plTwo.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfTwo = pd.DataFrame(plTwo)

# change column data type from string to int
plTwo['Count'] = pd.to_numeric(dfTwo['Count'])

# sort Count - descending order
plTwo.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
plTwo = plTwo.dropna()

plTwo

        Word  Count
21       the     15
8         to     13
1          i      7
110      and      7
25   poslaju      5
..       ...    ...
56    before      1
53     can�t      1
52       why      1
50       me.      1
160   place.      1

[160 rows x 2 columns]

In [65]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
plThree = pd.read_table('articles-wordcount\poslaju-output-3.txt', delimiter = ":", header=None)
plThree.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfThree = pd.DataFrame(plThree)

# change column data type from string to int
plThree['Count'] = pd.to_numeric(dfThree['Count'])

# sort Count - descending order
plThree.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
plThree = plThree.dropna()

plThree

         Word  Count
10        the     20
28         is      9
44        and      8
21         to      7
5         pos      7
..        ...    ...
90       said      1
91   postman.      1
20        due      1
93       many      1
191   crisis.      1

[191 rows x 2 columns]

In [79]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

plOT = pd.merge(plOne, plTwo, on='Word', how= 'outer')

pl = pd.merge(plOT, plThree, on= 'Word', how= 'outer')

#rename the column
pl.rename(columns = {'Count_x':'poslaju-article-1', 'Count_y':'poslaju-article-2',
                              'Count':'poslaju-article-3'}, inplace = True)



fig = px.bar(pl.iloc[0:16], x='Word', y=["poslaju-article-1", "poslaju-article-2", "poslaju-article-3"], title='Pos Laju Word Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\pl-wordcount-JOIN.html", auto_open=True )

In [68]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
plSW1 = pd.read_table('articles-stopwords\poslaju-stopwords-1.txt', delimiter = ":", header=None)
plSW1.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW1 = pd.DataFrame(plSW1)

# change column data type from string to int
plSW1['Count'] = pd.to_numeric(dfSW1['Count'])

# sort Count - descending order
plSW1.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
plSW1 = plSW1.dropna()

plSW1

           Word  Count
19          pos     21
20     malaysia     11
18     services     10
49       postal      9
114  e-commerce      8
..          ...    ...
175        duck      1
174         job      1
173    officer,      1
172   operating      1
454        37).      1

[454 rows x 2 columns]

In [69]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-2 using pandas
plSW2 = pd.read_table('articles-stopwords\poslaju-stopwords-2.txt', delimiter = ":", header=None)
plSW2.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW2 = pd.DataFrame(plSW2)

# change column data type from string to int
plSW2['Count'] = pd.to_numeric(dfSW2['Count'])

# sort Count - descending order
plSW2.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
plSW2.dropna()

plSW2

         Word  Count
11    poslaju      5
26       call      4
23        NaN      4
34   customer      3
37   delivery      3
..        ...    ...
36  estimated      1
35    provide      1
33    message      1
32       text      1
93     place.      1

[94 rows x 2 columns]

In [70]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
plSW3 = pd.read_table('articles-stopwords\poslaju-stopwords-3.txt', delimiter = ":", header=None)
plSW3.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW3 = pd.DataFrame(plSW3)

# change column data type from string to int
plSW3['Count'] = pd.to_numeric(dfSW3['Count'])

# sort Count - descending order
plSW3.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
plSW3.dropna()

plSW3

         Word  Count
2         pos      7
15        NaN      6
3    malaysia      5
39     ensure      3
7     company      3
..        ...    ...
44       laju      1
43      tweet      1
42      viral      1
41      said.      1
135   crisis.      1

[136 rows x 2 columns]

In [80]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

plSWOT = pd.merge(plSW1, plSW2, on='Word', how= 'outer')

plSW = pd.merge(plSWOT, plSW3, on= 'Word', how= 'outer')

#rename the column
plSW.rename(columns = {'Count_x':'poslaju-article-1', 'Count_y':'poslaju-article-2',
                              'Count':'poslaju-article-3'}, inplace = True)



fig = px.bar(plSW.iloc[0:16], x='Word', y=["poslaju-article-1", "poslaju-article-2", "poslaju-article-3"], title='Pos Laju Stopwords (OUTER JOIN)')

fig.write_html("templates\courier\plot\pl-stopwords-JOIN.html", auto_open=True )

# GDEX

In [84]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
gdOne = pd.read_table('articles-wordcount\gdex-output-1.txt', delimiter = ":", header=None)
gdOne.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfOne = pd.DataFrame(gdOne)

# change column data type from string to int
gdOne['Count'] = pd.to_numeric(dfOne['Count'])

# sort Count - descending order
gdOne.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
gdOne = gdOne.dropna()

gdOne

           Word  Count
6           the     32
4            to     12
16            a      9
37        share      8
82         over      7
..          ...    ...
119       doubt      1
120      modest      1
121        0.5%      1
122    dividend      1
259  exchanges.      1

[259 rows x 2 columns]

In [86]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
gdTwo = pd.read_table('articles-wordcount\gdex-output-2.txt', delimiter = ":", header=None)
gdTwo.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfTwo = pd.DataFrame(gdTwo)

# change column data type from string to int
gdTwo['Count'] = pd.to_numeric(dfTwo['Count'])

# sort Count - descending order
gdTwo.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
gdTwo = gdTwo.dropna()

gdTwo

              Word  Count
23              to     33
14             the     27
20             and     26
26              in     15
16              of      9
..             ...    ...
119    enterprises      1
120         (sme),      1
121  entrepreneurs      1
122     fulfilment      1
272           hub.      1

[272 rows x 2 columns]

In [87]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
gdThree = pd.read_table('articles-wordcount\gdex-output-3.txt', delimiter = ":", header=None)
gdThree.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfThree = pd.DataFrame(gdThree)

# change column data type from string to int
gdThree['Count'] = pd.to_numeric(dfThree['Count'])

# sort Count - descending order
gdThree.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
gdThree = gdThree.dropna()

gdThree

          Word  Count
0          the     37
38          to     30
26         and     23
2           in     19
5          its     18
..         ...    ...
151     coming      1
150     orders      1
148  possible.      1
147       time      1
367       own.      1

[367 rows x 2 columns]

In [88]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

gdOT = pd.merge(gdOne, gdTwo, on='Word', how= 'outer')

gd = pd.merge(gdOT, gdThree, on= 'Word', how= 'outer')

#rename the column
gd.rename(columns = {'Count_x':'gdex-article-1', 'Count_y':'gdex-article-2',
                              'Count':'gdex-article-3'}, inplace = True)



fig = px.bar(gd.iloc[0:16], x='Word', y=["gdex-article-1", "gdex-article-2", "gdex-article-3"], title='GDEX Word Count (OUTER JOIN)')

fig.write_html("templates\courier\plot\gdex-wordcount-JOIN.html", auto_open=True )

In [91]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
gdSW1 = pd.read_table('articles-stopwords\gdex-stopwords-1.txt', delimiter = ":", header=None)
gdSW1.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW1 = pd.DataFrame(gdSW1)

# change column data type from string to int
gdSW1['Count'] = pd.to_numeric(dfSW1['Count'])

# sort Count - descending order
gdSW1.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
gdSW1.dropna()

gdSW1

           Word  Count
34          NaN      9
20        share      8
46     earnings      7
18       berhad      6
17         gdex      6
..          ...    ...
56         15%.      1
55         drop      1
54        year,      1
53        time.      1
162  exchanges.      1

[163 rows x 2 columns]

In [93]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
gdSW2 = pd.read_table('articles-stopwords\gdex-stopwords-2.txt', delimiter = ":", header=None)
gdSW2.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW2 = pd.DataFrame(gdSW2)

# change column data type from string to int
gdSW2['Count'] = pd.to_numeric(dfSW2['Count'])

# sort Count - descending order
gdSW2.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
gdSW2 = gdSW2.dropna()

gdSW2

              Word  Count
24      e-commerce      6
41            gdex      6
165      incentive      5
87       logistics      5
49         support      5
..             ...    ...
91     enterprises      1
92          (sme),      1
93   entrepreneurs      1
94      fulfilment      1
221           hub.      1

[221 rows x 2 columns]

In [94]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-3 using pandas
gdSW3 = pd.read_table('articles-stopwords\gdex-stopwords-3.txt', delimiter = ":", header=None)
gdSW3.columns = ['Word','Count']

# convert to 2d data structure using pandas
dfSW3 = pd.DataFrame(gdSW3)

# change column data type from string to int
gdSW3['Count'] = pd.to_numeric(dfSW3['Count'])

# sort Count - descending order
gdSW3.sort_values(by=['Count'], inplace=True, ascending=False)

# using dropna() function to drop NaN value
gdSW3 = gdSW3.dropna()

gdSW3

           Word  Count
34         gdex      8
24       volume      7
62        group      6
2       digital      5
23     delivery      5
..          ...    ...
117   switching      1
118        fast      1
119  platforms;      1
120     selling      1
287        own.      1

[287 rows x 2 columns]

In [95]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot

#Merge the table

gdSWOT = pd.merge(gdSW1, gdSW2, on='Word', how= 'outer')

gdSW = pd.merge(gdSWOT, gdSW3, on= 'Word', how= 'outer')

#rename the column
gdSW.rename(columns = {'Count_x':'gdex-article-1', 'Count_y':'gdex-article-2',
                              'Count':'gdex-article-3'}, inplace = True)



fig = px.bar(gdSW.iloc[0:16], x='Word', y=["gdex-article-1", "gdex-article-2", "gdex-article-3"], title='GDEX Stopwords (OUTER JOIN)')

fig.write_html("templates\courier\plot\gdex-stopwords-JOIN.html", auto_open=True )

# POSITIVE & NEGATIVE WORDS

In [67]:
import plotly.express as px 
import pandas as pd 
import numpy as np

# read article-1 using pandas
pos_neg = pd.read_table('pos_neg.txt', delimiter = ":", engine='python', header=None)
pos_neg.columns = ['Courier','Words']
pos_neg[['Positive','Negative']] = pos_neg.Words.str.split(",",expand=True)


# convert to 2d data structure using pandas
dfPN = pd.DataFrame(pos_neg)

dfPN['Positive'] = dfPN['Positive'].str.strip('[]').astype(int)
dfPN['Negative'] = dfPN['Negative'].str.strip('[]').astype(int)


dfPN

    Courier       Words  Positive  Negative
0  citylink   [66, 102]        66       102
1   poslaju   [66, 161]        66       161
2       dhl  [149, 274]       149       274
3       jnt   [92, 163]        92       163
4      gdex  [114, 139]       114       139

In [77]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

fig = px.bar(dfPN, x="Courier", y=["Positive", "Negative"],
             title='All courier Positive and Negative Words',
             barmode='group', height=400)

fig.write_html("templates\courier\plot\courier-pos-neg.html", auto_open=True )

In [72]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

fig = px.bar(dfPN.iloc[0:1], x="Courier", y=["Positive", "Negative"],
             title='CityLink Positive and Negative Words',
             barmode='group', height=400)


fig.write_html("templates\courier\plot\cl-pos-neg.html", auto_open=True )

In [73]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

fig = px.bar(dfPN.iloc[1:2], x="Courier", y=["Positive", "Negative"],
             title='PosLaju Positive and Negative Words',
             barmode='group', height=400)


fig.write_html("templates\courier\plot\pl-pos-neg.html", auto_open=True )

In [74]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

fig = px.bar(dfPN.iloc[2:3], x="Courier", y=["Positive", "Negative"],
             title='DHL Positive and Negative Words',
             barmode='group', height=400)

fig.write_html("templates\courier\plot\dhl-pos-neg.html", auto_open=True )

In [75]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

fig = px.bar(dfPN.iloc[3:4], x="Courier", y=["Positive", "Negative"],
             title='JNT Positive and Negative Words',
             barmode='group', height=400)

fig.write_html("templates\courier\plot\jnt-pos-neg.html", auto_open=True )

In [76]:
import pandas as pd
import plotly.graph_objects as go
from plotly.offline import iplot
import plotly.express as px

fig = px.bar(dfPN.iloc[4:5], x="Courier", y=["Positive", "Negative"],
             title='GDEX Positive and Negative Words',
             barmode='group', height=400)

fig.write_html("templates\courier\plot\gdex-pos-neg.html", auto_open=True )